<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box">
                    <h1>Login</h1>
                    <p class="text-muted">Entrer votre pseudo et votre mot de passe</p>
                    <input type="text" name="" placeholder="Username">
                    <input type="password" name="" placeholder="Password"> 
                    <input type="submit" name="" value="Login" href="#">
                    <div class="col-md-12">
                        <a class="forgot text-muted" href="#">Creer un compte?</a> 

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>