<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
  <a class="navbar-brand" [routerLink]="['/espace-admin']">Administration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/espace-admin']">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
     <a class="nav-link" href="#"><i class="fa fa-sign-out"></i>Se Déconnecter</a>
    </div>
    
  </div>
</nav>
  
        <!-- /Breadcrumb -->
      <div class="container-fluid">
         <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-2 mb-3">
                <div class="d-flex flex-column">
                  <div class="mt-3">
                    <h4>John Doe</h4>
                    <p class="text-secondary mb-1">Administrateur</p>
                    <p class="text-muted font-size-sm">john.doe@gmail.com</p>
                  </div>
            </div>
            <div class="card mt-3">
              <h6 class="mb-0">Utilisateurs en ligne:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span class="text-secondary">Gilbert Francoit</span>
                </li>
                <li class="list-group-item d-flex justify-content-between  flex-wrap">
                  <span class="text-secondary">Zefania</span>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span class="text-secondary">Rakoto</span>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span class="text-secondary">Ericson</span>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span class="text-secondary">Jean Philipe</span>
                </li>
              </ul>
            </div>
          </div>

          <!-- cartjs-->
          <div class="col-md-10">
            <div class="card mb-3">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3" style="text-transform: uppercase;">statistiques</h6>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    Kenneth Valdez
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    fip@jukmuh.al
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    (239) 816-9029
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    (320) 380-4539
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    Bay Area, San Francisco, CA
                  </div>
                </div>
              </div>
            </div>

            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                    <h6 class="d-flex align-items-center mb-3" style="text-transform: uppercase;">Les activités</h6>
          
                      <form  *ngIf="!submitted"
                      name="form"
                      (ngSubmit)="f.form.valid && onSubmit()"
                      #f="ngForm"
                      novalidate>
                          <input type="text"
                          name="task"
                          [(ngModel)]="form.task"
                          required
                          #username="ngModel" class="form-control add-task" placeholder="Ajouter une activités...">
                      </form>
                      <ul class="nav nav-pills todo-nav">
                          <li role="presentation" class="nav-item all-task active"><a href="#" class="nav-link">All</a></li>
                      </ul>
                      <div class="todo-list">
                        <div class="todo-item">
                          <div style="display: inline;margin-left: 8px;" class="checker"><span><input type="checkbox" name="isFinished1" [(ngModel)]="isFinished1" (change)="onChange()"></span></div>
                          <span style="display: inline; margin-left: 5px;" [ngStyle]="{'text-decoration':isFinished1?'line-through':'none'}">Error solve in HTML template</span>
                          <a class="float-right remove-todo-item"><i class="icon-close"></i></a>
                          <div style="float:right;"><a href="#" class="btn btn-sm btn-danger" (click)="supprimer()"><i class="fa fa-trash"></i></a></div>
                          <div style="float:right;padding-right: 05px;"><a class="btn btn-sm btn-success" (click)="editer()"><i class="fa fa-edit"></i></a></div>
                        </div>
                        <div class="todo-item">
                          <div style="display: inline;margin-left: 8px;" class="checker"><span><input type="checkbox" name="isFinished2" [(ngModel)]="isFinished2" (change)="onChange()"></span></div>
                          <span style="display: inline; margin-left: 5px;" [ngStyle]="{'text-decoration':isFinished2?'line-through':'none'}">Error solve in HTML template</span>
                          <a class="float-right remove-todo-item"><i class="icon-close"></i></a>
                          <div style="float:right;"><a href="#" class="btn btn-sm btn-danger" (click)="supprimer()"><i class="fa fa-trash"></i></a></div>
                          <div style="float:right;padding-right: 05px;"><a class="btn btn-sm btn-success" (click)="editer()"><i class="fa fa-edit"></i></a></div>
                        </div>
                        <div class="todo-item">
                          <div style="display: inline;margin-left: 8px;" class="checker"><span><input type="checkbox" name="isFinished3" [(ngModel)]="isFinished3" (change)="onChange()"></span></div>
                          <span style="display: inline; margin-left: 5px;" [ngStyle]="{'text-decoration':isFinished3?'line-through':'none'}">Error solve in HTML template</span>
                          <a class="float-right remove-todo-item"><i class="icon-close"></i></a>
                          <div style="float:right;"><a href="#" class="btn btn-sm btn-danger" (click)="supprimer()"><i class="fa fa-trash"></i></a></div>
                          <div style="float:right;padding-right: 05px;"><a class="btn btn-sm btn-success" (click)="editer()"><i class="fa fa-edit"></i></a></div>
                        </div>
              
                          <div class="todo-item">
                            <div style="display: inline;margin-left: 8px;" class="checker"><span><input type="checkbox" name="isFinished4" [(ngModel)]="isFinished4" (change)="onChange()"></span></div>
                            <span style="display: inline; margin-left: 5px;" [ngStyle]="{'text-decoration':isFinished4?'line-through':'none'}">Error solve in HTML template</span>
                            <a class="float-right remove-todo-item"><i class="icon-close"></i></a>
                            <div style="float:right;"><a href="#" class="btn btn-sm btn-danger" (click)="supprimer()"><i class="fa fa-trash"></i></a></div>
                            <div style="float:right;padding-right: 05px;"><a class="btn btn-sm btn-success" (click)="editer()"><i class="fa fa-edit"></i></a></div>
                          </div>
                      </div>

                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                    <small>Web Design</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Website Markup</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>One Page</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Mobile Template</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Backend API</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  
<footer class="mainfooter" role="contentinfo">
  
  <div class="container">
    <div class="row">
 
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2021 - Blaise Lima Raoul.  All rights reserved.</p>
		</div>
	</div>

  </div>
</footer>