<app-header></app-header>

<section class="section">
    <div class="container">
 
        <div class="row">
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme3rd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Ouvert</span>
                        <h6 class="m-5px-tb">Soirée de Zoma</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme4th-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Terminé</span>
                        <h6 class="m-5px-tb">Anniversaire de Thierry</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" [routerLink]="['/espace-user']"></a>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">En cours</span>
                        <h6 class="m-5px-tb">Reunion des parents samedi</h6>
                        <p class="m-0px font-small">Ajouté le 12/02/21</p>
                    </div>
                </div>
            </div>
        
           
           
        </div>
    </div>
</section>

<app-footer></app-footer>